.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: rgb(23, 32, 84);
}
.contanier {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
  margin: 12% 28%;
  border: 5px solid white;
  border-radius: 15px;
  padding: 30px 20px;
  width: 650px;
  box-shadow: 10px 10px 14px;
}
.left_section {
  background-color: #5b5fce;
  position: relative;
  padding: 10px;
  box-shadow: 0px 10px 14px;
}
.left_section input {
  margin: 30% auto 0 auto;
  background-color: rgb(4, 14, 57);
  color: white;
  font-size: 1.2rem;
  padding: 10px;
  font-weight: 900;
  border-radius: 20px;
}
.left_section button {
  background-color: rgb(12, 247, 255);
  color: rgb(9, 4, 4);
  margin: 10px auto;
  padding: 10px 10px;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 900;
  width: 100%;
  transition: all 300ms ease-in-out;
}
.left_section button:hover {
  color: white;
  background: rgb(2, 6, 63);
  cursor: pointer;
}
.right_section {
  background-color: #3148b2;
  box-shadow: 10px 10px 14px;
}
.right_section .description_section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 20px;
}
.right_section .description_section h1 {
  color: rgb(167, 161, 161);
  font-size: 0.8rem;
}
.right_section .description_section h2 {
  color: rgb(173, 169, 169);
  font-size: 0.9em;
}
.right_section .temp_section {
  margin: 10px 20px;
  font-size: 1.2rem;
  padding: 5px;
  box-shadow: 10px 10px 14px;
  background-color: rgba(198, 169, 169, 0.508);
}
.right_section .location_section h1 {
  color: white;
  font-weight: 900;
}
@media screen and (max-width: 700px) {
  .contanier {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 70%;
  }
}
